*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

h3 {
  background-color: #93c47d;
  padding: 1rem;
  color: white;
  width: 25rem;
  text-align: center;
}

li {
  margin: 20px 0;
  width: 25rem;
  font-weight: 700;
}

input {
  border: 2.5px solid #93c47d;
  width: 17rem;
}

button {
  padding: 0.35em 1.2em;
  text-decoration: none;
  border: 2.5px solid #93c47d;
  color: #93c47d;
  text-align: center;
  font-weight: 700;
  background-color: white;
  transition: all 0.2s;
}

button:hover {
  color: white;
  background-color: #93c47d;
}

.outer-container {
  border: 5px solid #b7b7b7;
  width: 98vw;
  height: 98vh;
  margin: auto;
  box-shadow: 8px 5px 5px grey;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content-2 {
  color: #ffb74a;
  padding: 1rem;
  line-height: 1rem;
}

.content-3 {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  height: 3rem;
}